<style>
	.btn-circle {
		width: 18px;
		height: 18px;
		text-align: center;
		padding: 6px 0;
		font-size: 8px;
		line-height: 0.8;
		border-radius:615px;
		margin-bottom:3px;
	}
	.boton_eliminar{
		color:white;
		background-color: #597ca0;
		border-color: #234b88;
	}

	.boton_eliminar:hover{
		background-color: #44607d;
		border-color: #234b88;
	}
	.texto_descripcionUsuario{
		font-size:17px;		
	}
	.panel_descripcionUsuario:hover {
		background-color: rgba(47, 60, 62, 0.29) !important;
		<!---webkit-animation: ResaltarDato 0.5s ;-->
		border:solid;
		transform: scale(1.3,1);
		border-color:rgba(86, 76, 76, 0.88);
		<!--border-radius:8px;-->
		
	}
	.panel_descripcionUsuario{
		background-color: rgba(47, 60, 62, 0.1) !important;
		margin-bottom:1px;
		transition: all 0.5s linear;
		
	}	
	@-webkit-keyframes ResaltarDato{
	0%  { -webkit-transform:scale(1,1.05); -webkit-transform:translate(0px,0px); }
	50% { -webkit-transform:scale(1,1.1); -webkit-transform:translate(10px,0px); }
	100%{ -webkit-transform:scale(1,1.15); -webkit-transform:translate(20px,0px); }

	@-webkit-keyframes tiembla{
	0%  { -webkit-transform:translate(0px,0px); }
	50% { -webkit-transform:translate( 0px,10px); }
	100%{ -webkit-transform:translate( 0px, 0px); }
}

</style>

<div  class="col-xs-12 col-sm-12 panel_descripcionUsuario">
	<div class="col-xs-12 col-sm-12">
		<button class="btn boton_eliminar btn-circle " (click)="eliminar()">X</button> <span class="texto_descripcionUsuario">{{usuario}} </span>
	</div>

</div>